html, body{
  height: 100%;
  width: 100%;
  margin: 0;
}
body{
  background-image: url(imgs/first.jpg);
  background-size: cover;
  box-shadow: inset 0px 0px 50px 30px black;
  transition: 1s;
  user-select: none;
  /*cursor: url(imgs/cursor.png), auto;*/
  /*background-repeat: no-repeat;*/
}
#startField{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: grey;
  position: absolute;
  z-index: 99;
  transition: 1.5s;
  gap: 25px;
}
#startBtn{
  height: 100px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  color: white;
  cursor: pointer;
}
#reference{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 150px;
  box-shadow: 0px 0px 10px black;
  border-radius: 15px;
}
#collectibleItems{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
#bandageDemo, #filterDemo {
  position: static;
  display: inline-block;
}
#heroHP{
  height: 30px;
  width: 200px;
  background-color: darkred;
  border: 2px solid black;
  border-radius: 0px 0px 15px 0px;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 5px black;
  transform: translate(20px, 20px);
}
#radiationBar{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 200px;
  background-color: rgb(102, 102, 0);
  border: 2px solid black;
  border-radius: 0px 0px 15px 0px;
  box-sizing: border-box;
  box-shadow: inset 0px 0px 5px black;
  position: absolute;
  right: 20px;
  transform: translate(0px, 0px);
}
.bandage{
  background-image: url(imgs/heal.png);
  background-size: cover;
  position: absolute;
  width: 55px;
  height: 50px;
  cursor: url(imgs/cursor_grab.png), auto;
}
.filter{
  background-image: url(imgs/filter.png);
  background-size: cover;
  position: absolute;
  width: 55px;
  height: 50px;
  cursor: url(imgs/cursor_grab.png), auto;
}
#hero{
  /*background-image: url(imgs/revolver.png);*/
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 505px;
  height: 270px;
  position: absolute;
  /*left: calc(50% - 122px);*/
  bottom: 0;
  z-index: 98;
}
.watchmen{
  height: 300px;
  width: 300px;
  background-image: url(imgs/watchmen_edit.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  transform: translate(500px, 500px);
  box-shadow: none;
  border-radius: 15px;
  user-select: none;
}
/* .watchmenHP{
  position: relative;
  height: 50px;
  width: 50px;
  background-color: red;
} */